<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section
      name="staticValues"
      type="TheGame.StaticValuesSection, TheGame"/>
  </configSections>

  <staticValues 
    maxChanceToWin="0.7"
    baseChanceToWin="0.4"
    powerEffectToWin="0.05"
    healthLostAfterDefeat="40"
    healthLostAfterWinRel="0.1"
    coinsPerWin="5"
    defaultHealth="100"
    defaultMaxHealth="100"
    defaultPower="1"
    defaultCoins="2"
    weaponPrice="10"
    weaponMinPower="1"
    weaponMaxPower="2"
    armorPrice="5"
    armorMinHealth="1"
    armorMaxHealth="2"
    healPrice="3"
    healEffect="10">
    
  </staticValues>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>